body {
    background-image: url(https://t4.ftcdn.net/jpg/01/95/26/25/240_F_195262536_vKoB3GKicZRkbbmtMsewPtuRkds8kVGV.jpg);
}

form {
        /* Apenas para centralizar o form na página */
        margin-top: 50px;
        margin-right: 100px;
        margin-left: 430px;
        text-align: left;
        width: 500px;
        /* Para ver as bordas do formulário */
        padding: 30px;
        background-color: gainsboro;
        border-radius: 20px;
}
label {

}

h1 {
    color: white;
    margin-top: 50px;
}
